<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">	
	<title><%= title %></title>

	<!-- Bootstrap core CSS -->
	<link rel='stylesheet' href='/public/plugin/bootstrap/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/public/css/admin.css' />
	<!--[if lt IE 9]>
	  <script src="/public/plugin/html5shiv/html5shiv.min.js"></script>
	  <script src="/public/plugin/respond/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
	<%- include ../_header %>
	<div class="container bs-docs-container">
	  <div class="row">
		<div class="col-md-2">
		  <%- include ../_category_side %>
		</div>
		<div class="col-md-9 im-main" role="main">
		  <div class="bs-docs-section">
			  <form role="form" action="/admin/category/update?categoryid=<%= category.categoryid %>" enctype="multipart/form-data" method="post">
				<div class="form-group">
				  <label for="">所属频道</label>
				  <select id="categorytype" class="form-control" name="category[typeid]">
					<% for( var i in types) {%>
						<option <% if(category.typeid==types[i].typeid){ %>selected="selected"<% } %> value="<%= types[i].typeid %>"><%= types[i].name %></option>
				  	<% } %>
				  </select>
				</div>
				<div class="form-group">
				  <label for="">上级栏目</label>
				  <select id="categories" class="form-control"  name="category[pid]">
					  <% for( var i in categories) {%>
						<% if(category.categoryid!=categories[i].categoryid){ %>
						<option <% if(category.pid==categories[i].categoryid){ %>selected="selected"<% } %> data-pid="<%= categories[i].pid %>" value="<%= categories[i].categoryid %>"><%= categories[i].name %></option>
						<% } %>
					  <% } %>
				  </select>
				</div>
				<div class="form-group">
				  <label for="item1">栏目名</label>
				  <input type="text" class="form-control" name="category[name]" id="item1" value="<%= category.name %>" placeholder="">
				</div>
				<div class="form-group">
				  <label for="item2">栏目图片</label>
				  <input type="hidden" name="category[pic]" value="<%= category.pic %>" />
				  <input type="file" name="picfile" id="item2" />
				  <p class="help-block"></p>
				</div>
				<div class="form-group">
				  <label for="item3">关键字</label>
				  <input type="text" class="form-control" name="category[keyword]" value="<%= category.keyword %>" id="item3" placeholder="">
				</div>
				<div class="form-group">
				  <label for="">描述</label>
				  <textarea class="form-control" name="category[description]" value="<%= category.description %>" rows="3"></textarea>
				</div>
				<div class="form-group">
				  <label for="">访问路径</label>
				  <input type="text" class="form-control" name="category[staticpath]" value="<%= category.staticpath %>" id="" placeholder="">
				</div>
				<div class="form-group">
				  <label for="">跳转的URL</label>
				  <input type="text" class="form-control" name="category[gourl]" value="<%= category.gourl %>" id="" placeholder="">
				</div>
				<div class="form-group">
				  <label for="">栏目内容</label>
				  <textarea class="form-control" name="category[content]" rows="13"><%= category.content %></textarea>
				</div>
				<div class="form-group">
				  <label for="">栏目显示模式</label>
				  <div class="radio">
					<label>
					  <input type="radio" name="isindex" name="category[isindex]" <% if(category.isindex==1){ %>checked<% } %> id="" value="1">
						栏目列表（文字）
					</label>
				  </div>
				  <div class="radio">
					<label>
					  <input type="radio" name="isindex" name="category[isindex]" <% if(category.isindex==2){ %>checked<% } %> id="" value="2" >
						栏目列表（图片）
					</label>
				  </div>
				  <div class="radio">
					<label>
					  <input type="radio" name="isindex" name="category[isindex]" <% if(category.isindex==3){ %>checked<% } %> id="" value="3" >
						栏目介绍
					</label>
				  </div>
				  <div class="radio">
					<label>
					  <input type="radio" name="isindex" name="category[isindex]" <% if(category.isindex==4){ %>checked<% } %> id="" value="4" >
						自定义首页
					</label>
				  </div>
				</div>
				<div class="form-group">
				  <label for="">是否显示在导航栏</label>                  
				  <div class="radio">
					<label>
					  <input type="radio" name="mshow" name="category[mshow]" <% if(category.mshow==1){ %>checked<% } %>  id="" value="1" >
						是
					</label>
				  </div>
				  <div class="radio">
					<label>
					  <input type="radio" name="mshow" name="category[mshow]" <% if(category.mshow==0){ %>checked<% } %> id="" value="0" >
						否
					</label>
				  </div>
				</div>
				<div class="form-group">
				  <label for="">每页显示信息条数</label>
				  <input type="text" class="form-control" name="category[infonum]" value="<%= category.infonum %>" id="" placeholder="">
				</div>
				<div class="form-group">
				  <label for="">目栏自定义首页模板</label>
				  <input type="text" name="category[t_index]" value="<%= category.t_index %>" class="form-control" id="listindext" placeholder="">
				</div>
				<div class="form-group">
				  <label for="">栏目列表（文字）模板</label>
				  <input type="text" name="category[t_list]" class="form-control" value="<%= category.t_list %>" id="listt" placeholder="">
				</div>
				<div class="form-group">
				  <label for="">目栏介绍模板</label>
				  <input type="text" name="category[t_listb]" class="form-control" value="<%= category.t_listb %>" id="listbodyt" placeholder="">
				</div>
				<div class="form-group">
				  <label for="">目栏列表（图片）模板</label>
				  <input type="text" name="category[t_listimg]" class="form-control" value="<%= category.t_listimg %>" id="listimaget" placeholder="">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			  </form>
		  </div>
		</div>
	  </div>
	</div> <!-- /container -->
	<script src="/public/plugin/jquery/jquery.1.10.2.min.js"></script>
	<script src="/public/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="/public/js/admin.js"></script>
	<script src="/public/js/admin_category_add.js"></script>
  </body>
</html>
