<!DOCTYPE html>
<html>
	<head>      
		<meta charset="utf-8"/>
		<meta name="author" content="im-corp.com">
		<meta name="Copyright" content="">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/public/skin/css/base.css">
		<link rel="stylesheet" type="text/css" href="/public/skin/css/global.css">
		<title><%= title %></title>
		<!--[if lt IE 9]>
			 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
		<![endif]-->
	</head>
	<body>
		<div id="page">
			<%- include _header %>
			<div id="main">			
				<div class="row clearfix">
					<div class="col1">
						<div class="flashimg" style="display:;">
							<ul>
								<li><a href=""><img src="/public/skin/img/flashimg1.jpg" alt=""></a></li>
								<li><a href=""><img src="/public/skin/img/flashimg2.jpg" alt=""></a></li>
							</ul>
						</div>
						<div class="box1">
							<div class="title">
								<span class="grey">以营销角度评广告</span>
								<h3>今日推荐<small>Recommendation</small></h3>
							</div>
							<div class="center">
								<ul class="recommentlist clearfix">
									<%
										for(var i = 0 ; i< articles.length; i++){
									%>
										<li>
											<div class="des">
												<p class="tit"><a href="<%= articles[i].url %>"><%= articles[i].title %></a></p>
												<p><%= articles[i].description %></p>
											</div>
											<a href="<%= articles[i].url %>" class="titlepic">
												<img src="<%= articles[i].pic %>" alt="">
											</a>
										</li>
									<% 
										}
									 %>
								</ul>
								<!-- <div class="more">
									<a href="">&gt;&gt;MORE</a>
								</div> -->
							</div>
						</div>
					</div>
					<div class="col2">
						<div class="box4">
							<p class="des">微信关注壹圆广告点评</p>
							<p class="ecode"><img src="/public/skin/img/2code.jpg" alt=""></p>
						</div>
					</div>
				</div>
			</div>
			<%- include _footer %>
		</div>
	</body>
</html>