<!DOCTYPE html>
<html>
    <head>      
        <meta charset="utf-8"/>
        <meta name="author" content="im-corp.com">
        <meta name="Copyright" content="">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="/public/skin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/public/skin/css/global.css">
        <title><%= title %></title>
        <!--[if lt IE 9]>
             <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
        <![endif]-->
    </head>
        <body>
        <div id="page">
            <%- include ../_header %>
            <div id="main">
                <div class="subpagerow clearfix">
                    <div class="col1">
                        <div class="box5">
                            <div class="title">
                                <a href="<%= lastCategories.topCategory.url %>"><%= lastCategories.topCategory.name %></a>
                            </div>
                            <ul>
                                <% for( var i in lastCategories.subCategories) { %>    
                                <li><a href="<%= lastCategories.subCategories[i].url %>"><%= lastCategories.subCategories[i].name %></a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="" style="padding:10px;">
                            <%= category.content %>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <p>版本所有：www.im-corp.com &nbsp;&nbsp;&nbsp;&nbsp; powered by im studio</p>
            </div>
        </div>

    </body>
</html>