<!DOCTYPE html>
<html>
    <head>      
        <meta charset="utf-8"/>
        <meta name="author" content="im-corp.com">
        <meta name="Copyright" content="">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="/public/skin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/public/skin/css/global.css">
        <title><%= title %></title>
        <!--[if lt IE 9]>
             <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
        <![endif]-->
    </head>
	<body>
		<div id="page">			
			<%- include ../_header %>
			<div id="main">
				<div class="subpagerow clearfix">
					<div class="col1">
                        <%- include ../_subcats %> 
                        <%- include ../_books %>				
					</div>
					<div class="col2">
						<div class="box1">
							<div class="title">
								<span class="grey">以营销角度评广告</span>
                                <h3><%= category.name %></h3>
							</div>
							<div class="center">
								<ul class="recommentlist clearfix">
								<% for( var i in articles) {%>		
									<li>
										<div class="des">
											<p class="tit"><a href="<%= articles[i].url %>" title="<%= articles[i].title %>"><%= articles[i].title %></a></p>
											<p class="intro"><%= articles[i].description %></p>
										</div>
										<a href="#" title="<%= articles[i].title %>" class="titlepic">
											<img src="<%= articles[i].pic %>" alt="<%= articles[i].title %>">
										</a>
									</li>
					  			<% } %>
								</ul>
								<div class="pagelist">
									<a href="<%= page.prev %>" <% if(page.prev==""){ %> onclick="alert('已经是第一页了');return false;" <%} %> >上一页</a>
									<% for( var i in page.list) {%>	
										<a href="<%= page.list[i].url %>" <% if(page.list[i].num==page.cur){ %> class="on" <%} %> ><%= page.list[i].num %></a>
									<% } %>
									<a href="<%= page.next %>" <% if(page.next==""){ %> onclick="alert('已经是最后一页了');return false;" <%} %>>下一页</a>			
								</div>						
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<p>版本所有：www.im-corp.com &nbsp;&nbsp;&nbsp;&nbsp; powered by im studio</p>
			</div>
		</div>
	</body>
</html>